@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-size: 62.5%;
  background-color: #f9f8f6;
  padding: 0;
  margin: 0;
}
body{
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}

h6{
     font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #887f69;
    
}
.box2_gray{
    color: #887f69;
    position: relative;
    bottom: 10px;
}
.box3_gray{
    color: #887f69;
    position: relative;
    bottom: 40px;
}
.box4_gray{
    color: #887f69;
    position: relative;
    bottom: 60px;
}
.upp{
    position: relative;
    bottom: 30px;
    width: 100%;
}
.uppp{
    position: relative;
    bottom: 60px;
}
.upppp{
    position: relative;
    bottom: 80px;
}

.guide .box2{
    background-color: #fff;
    height: 280px;
}

.text .gray{
    color:#e1deda;
}
.gray_box{
    display: block;
    width: 100%;
    background-color: #e8e4da;
}

#form1{
    font-size: 1.4rem;
    background-color: #eee;
    color: #aaa;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}
#form{
    font-size: 1.4rem;
    font-weight: 600px;
    background-color: #eee;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

@media (min-width:501px){
    
    .cover{
        width: 74%;
        float: left;
       
    }
#header{
    width: 100%;
    padding-top: 40px;
}
.logo{
    width: 80%;
    
}
.pc_navi{
    display: flex;
    padding: 20px 0;
}
.pc_navi a{
    padding-left: 10px;
}
.flexbox{
    display: flex;
}
.flexbox2{
    display: flex;
    margin-bottom: 25px;
}
.sp_logo{
    display: none;
}
.sp_navi{
    display: none;
}
.sp_navi_li_toggle{
    display: none;
}
.title img{
    width: 100%;
}
.title .pc{
    margin: 20px 0;
}

.title .sp{
    display: none;
}
.title .spp{
    display: none;
}


.container .new_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.container .new_item{
    width: 29%;
    text-align: center;
    padding: 2.1%;
    background-color: #fff;
    border-bottom: solid 2px #f9f8f6;
}
.new_item img{
    width: 100%;
}
.new_item p{
    text-align: left;
}
.money{
    position: relative;
    bottom: 15px;
    margin: 0;
}
.money b{
    letter-spacing: -0.2em;
}
 .guide{
    display: flex;
}

.box2{
    width: 48%;
    border: solid 2px #f9f8f6;
    padding: 10px;
}
.haiso img{
    width: 50%;
}
.upp img{
    width: 100%;
}
.box2 p{
    text-align: left;
}

.text p .gray{
    font: color #c8c5be;
}
.pc_sidemenu{
    width: 22%;
    float: right;
    background-color: #fff;
}

.pc_sidemenu .search_box{
       margin: 0;
    padding-top: 10px;
    width: 100%;
    padding-left: 5%;
    border-bottom: solid 8px #f9f8f6;
}
#form{
    width: 85%;
    position: relative;
    left: 3px;
    top: 5px;
    border-radius: 1%;
}

.s_box1{
    background-color: #887f69;
    padding: 10px 5px;
    height: 20px;
    padding-left: 5%;
    border-bottom: solid 8px #f9f8f6;
}  
.s_box2{
    background-color: #887f69;
    padding: 10px 5px;
    height: 20px;
    padding-left: 5%;
}
.icon{
    position: absolute;
    right: 0;
    padding-right: 1%;
    padding-top: 3px;
}

.s_box3{
    list-style: none;
    margin:0;
    border-bottom: solid 10px #f9f8f6;
    padding-top: 10px;
}
.s_box3 li{
    padding: 10px 0;
       padding-left: 5%;
}
.icon2{
    position: absolute;
    right: 0;
    padding-right: 1%;
}

.s_box4{
    text-align: center;
    border-bottom: solid 12px #f9f8f6;
}
.s_box4 .about{
     background-color: #887f69;
     line-height: 40px;
     margin-bottom: 10px;
     text-align: left;
}
.s_box5{
    text-align: center;
}
.s_box5 .info{
    background-color: #887f69;
     line-height: 40px;
      margin-bottom: 10px;
      text-align: left;
    
}

.shop{
    text-align: left;
    padding: 0 10px 0 7px;

}
.more{
    text-align: center;
    position: relative;
    bottom: 10px;
}
.text{
    text-align: right;
}
.text .lain{
    border-bottom: solid 1px gray;
    position: relative;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
      
}
p{
    text-align: center;
}
#contents:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.sp_sidemenu{
    display: none;
}
.gazo5{
    max-width: 100%;
}

                             /*products 追加 */

.white{
    background-color: #fff;
    height: auto;
    padding: 8%;
    padding-bottom: 0;
}
.gray_box{
     color: #887f69;
     margin-bottom: 0;
}
.top{
    font-size: 1.5rem;
    text-align: left;
    padding: 0;
   position: relative;
   bottom: 25px;
}
.color_gray{
    color: #e8e4da;
    position: absolute;
    left: 60%;
    top: 2.6%;
}
.price{
    width: 60%;
    position: relative;
    bottom: 70px;
    

}
.quantity{
    position: relative;
    bottom: 75px;
}
.add{
    float: right;
    clear: both;
    position: relative;
    bottom: 160px;
    width: 35%;
}
.white p{
    text-align: left;
}
.rap{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 50px;
}
.il {
      list-style: none;
    width: 44%;
    padding-left: 5%;
    margin: 0;
    padding-bottom: 2px;
}
.il img {
  cursor: pointer;

}
.white .lain4{
     border-bottom: solid 1px #e8e4da;
    position: relative;
     bottom: 120px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.white .lain{
    border-bottom: solid 1px #e8e4da;
    position: relative;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
      
}
.ta{
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 25%;
    width: 80%;
}
.white .lain1{
     border-bottom: solid 1px #e8e4da;
    position: relative;
    bottom: 55px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.white .lain3{
     border-bottom: solid 1px #e8e4da;
    position: relative;
     bottom: 50px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.message2{
    position: relative;
    bottom: 150px;
}
.down2{
    position: relative;
    top:25px;
    color: #887f69;
    font-size: 1.5rem;
}
.title_m{
    color: #887f69;
    font-size: 1.5rem;
}
#display_img img{
    width: 100%
}
#display_img{
    width: 70%;
}
#list_img img{
    width: 100%;
}
#list_img{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.color_size{
    position: relative;
    bottom: 50px;
}
.table1{
    position: relative;
    bottom: 40px;
}
.sp_table{
    display: none;
}
.pc_table{
    font-size: 1.2rem;
    color: #887f69;
}
.pc_table td{
    text-align: left;
}
.pc_table th{
    width: 130px;
}
                            /*list*/
    .gray_box{
        padding: 5px 0;
    }
    .categazo{
        width: 100%;
        padding: 5px 0 10px 0;
        margin-bottom: 20px;
    }
    .categazo_sp{
        display: none;
    }
    .bottom2{
        position: relative;
        bottom: 10px;
    }
    .pc3{
        width: 100%;
        margin: 30px 0 15px;
    }
    .sp3{
        display: none;
    }
    
    
    .ccc::placeholder{
    color: #b5b5b5;
}
.cccc{
    display: none;
}
}



@media (max-width:500px){
    .logo{
      text-align: center;
      margin-top: 20px;
    }
    .pc_navi{
        display: none;
    }
    img{
        max-width: 100%;
    }
     .sp_navi img{
         width: 30px;
     }
    .sp_navi{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 10px 30% 0;
    }

    
    #sp_navi_btn{
        cursor: pointer;
    }
     .sp_navi_li_toggle{
       display: none;
     }
   .sp_navi_li_toggle li{
        height: 40px;
        background-color: #ff6d77;
        width: 100%;
        margin: 0;
        padding-left: 10px;
        
        
    }
    .sp_navi_li_toggle li:after{
        content: "";
        position: absolute;
        right: 10px;
        left: 5px;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #f9f8f6;
        margin: 0 0 3px 5px;
        
    }
    
    .sp_navi_li_toggle li a{
        color: #f9f8f6;
         font-size: 16px;
         text-decoration: none;
         position: relative;
         top:7px;
    }
    
    .title{
        margin: 10px 0;
        text-align: center;
        
    }
    .spp{
        width: 45%;
     }
    .title .pc{
        display: none;
    }
    .title .pc2{
        display: none;
    }
    .new_box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        
}
.new_item{
    width: 42%;
    background-color: #fff;
    border-bottom: solid 2px #f9f8f6;
    padding: 3.8%;
}
.money{
    position: relative;
    bottom: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: -0.1em;
}
.money b{
    letter-spacing: -0.3em;
}

.guide .box2{
    height: 260px;
    padding: 10px 0 10px 0;
    border: solid 1px #f9f8f6;
    margin-bottom: 5px;
}
.pc_sidemenu{
    display: none;
}
.sp_sidemenu{
    background-color: #fff;
    position: relative;
    bottom: 35px;
}
#form1{
    width: 90%;
    height: 30px;
    margin: 20px 0 20px 15px;
    border-radius: 1%
}
.seach{
   background-color: #fff;
   position: relative;
   bottom: 40px;
   margin-bottom: 5px;
    margin-top: 15px;
}

.s_box1{
    background-color: #887f69;
    padding: 10px 0;
     border-bottom: solid 10px #f9f8f6;
}
.s_box2{
    background-color: #887f69;
     padding: 10px 0;
     margin: 0 0 10px 0;
}
.s_box3{
    list-style: none;
     display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
    border-bottom: solid 10px #f9f8f6;
    margin: 0;
    
}
.s_box3 li{
     height: 40px;
     width: 100%;
     padding-left: 5%;
     margin: 0;
    margin-top: 10px;
}
.icon2{
    position: absolute;
    right: 0;
    padding-right: 3%;
    padding-top: 3px;
}
.about{
    background-color: #887f69;
    padding: 10px;
    
}
.s_box4{
    display: flex;
    padding-bottom: 0;
    border-bottom: solid 10px #f9f8f6;
}

.gazo{
    width: 45%;
    height: 90px;
    padding: 10px 0 70px 10px;
}
.message{
    width: 45%;
    padding: 10px;
}
.s_box5{
    display: flex;
    padding-bottom: 0;
    margin-bottom: 40px
}
.more{
    position: relative;
    bottom: 10px;
    margin: 0;
}

.text{
    text-align: center;
    padding: 10px;
}
.text .lain{
    border-bottom: solid 1px gray;
    position: relative;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.pagetop{
    width: 50%;
    position: relative;
}
#footer{
    width: 100%;
    position: relative;
    bottom: 70px;
    font-size: 1.2rem;
}
.text .gray{
    color:#e1deda;
    width: 280px;
    
}


                /*products 追加*/
.white{
    background-color: #fff;
    height: 1550px;
    margin-bottom: 10px;
}

.gray_box{
    font-size: 1.3rem;
    height: 30px;
    padding-top: 12px;
    color: #887f69;
    margin-bottom: 15px;
    
}
.home{
    letter-spacing: -0.1em;
}
.top{
    font-size: 1.8rem;
    font-style: bold;
    position: relative;
    top: 20px;
}
.color_gray{
    font-size: 1.3rem;
    color: #a6a6a6; 
}
li {
  list-style: none;
  display: inline-block;
  
}
.sub_gazo li img {
  width: 50px;
  cursor: pointer;
  
}
.add{
    display: none;
}
.secret_box{
    background-image: url(../images/add_to_cart.png);
    height: 50px;
  width: 80%;
  background-size: cover;
  position:  relative;
  left: 28px;
}
.pc_table{
    display: none;
    
}
.table1{
    position: relative;
    bottom: 40px;
}
.sp_table{
    font-size: 1.2rem;
    position: relative;
    bottom: 40px;
    
}
.sp_table th{
    width: 50px;
    padding-left: 10px;
    vertical-align: middle;
    
    
}
.sp_table td{
    text-align: left;
}
.il {
  list-style: none;
  display: inline-block;
}
.il img {
  width: 52px;
  cursor: pointer;

}
.message2{
    position: relative;
    bottom: 130px;
}
.title_m{
    position: relative;
    bottom: 40px;
    color: #887f69;
    font-size: 1.6rem;
}
.text_m{
    position: relative;
    bottom: 40px;
}
.seacret{
    background-image: url(../images/add_to_cart.png);
    width: 230px;
    height: 50px;
    position: relative;
    left: 25px;
    bottom: 110px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.price{
    position: relative;
    bottom: 70px;
}
.quantity{
    height: 10px;
    position: relative;
    bottom: 75px;
}

.white{
    background-color: #fff;
}
.white .lain4{
     border-bottom: solid 1px #e8e4da;
    position: relative;
    bottom: 75px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.white .lain{
    border-bottom: solid 1px #e8e4da;
    position: relative;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
      
}
.white .lain1{
     border-bottom: solid 1px #e8e4da;
    position: relative;
    bottom: 1px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
#display_img{
    position: relative;
    bottom: 15px;
}
#list_img{
    position: relative;
    bottom: 10px;
}
.color_size{
    position: relative;
    bottom: 50px;
}
.white .lain3{
     border-bottom: solid 1px #e8e4da;
    position: relative;
    bottom: 50px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.down2{
    color: #887f69;
    font-size: 1.6rem;
}
.white .lain2{
     border-bottom: solid 1px #000;
    position: relative;
    bottom: 35px;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    
}
.ta{
    display: inline-block;
    padding-left: 15%;
    width: 60%;
}
                             /*list*/
.gazolist{
    width: 6%;
    position: relative;
    left: 10px;
 }
  .categazo{
      display: none;
  }
 .categazo_sp{
     width: 100%;
        margin: 10px 0 35px;
    }
    .pc3{
        display: none;
    }
    .sp3{
        width: 30%;
        margin: 20px 0;
        position: relative;
        top: 15px;
    }
    .cccc::placeholder{
    color: #b5b5b5;
}
}


.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 2px;
    margin: 0px 5px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
    position: relative;
    bottom: 20px;
    right: 5px;
    
}

 .owl-theme .owl-dots .owl-dot.active span{
    background-color: #ff0000;
    
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
    text-align: left;
}


.white .lain2{
     border-bottom: solid 1px #000;
    position: relative;
    background-image: url("./images/delaymanialogo.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    
}



table{
     width: 100%;
    border-collapse: collapse;
}
table th, table td{
    border: solid 1px #e8e4da;
     text-align: center;
     color: #887f69;
}
i{
    color: #ff0000;
    font-style: italic;
    
}
.rem{
    font-size: 2.5rem;
     padding-right: 3%;

}
th{
    background-color: #f9f8f6;
}
.table1{
    padding: 5px 0;
}
.table1 th{
    padding: 10px;
}


                /*list追加*/
.bottom2 .back{
    background-color: #887f69;
    color: #fff;
    width: 120px;
    font-size: 1.3rem;
    border-radius: 1%;
}
.bottom2 .next{
    background-color: #887f69;
    color: #fff;
    width: 120px;
    font-size: 1.3rem;
    border-radius: 1%;
}
.bottom2{
    display: flex;
    justify-content: space-between;
}
.title{
    position: relative;
    bottom: 30px;
    
}
.new_box{
    position: relative;
    bottom: 25px;
}
.guide{
    position: relative;
    bottom: 30px;
}



